@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Prompt", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Prompt", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blog-content h1 {
  font-size: 2em !important;
}
.blog-content h2 {
  font-size: 1.5em !important;
}
.blog-content h3 {
  font-size: 1.17em !important;
}
.blog-content h4 {
  font-size: 1em !important;
}
.blog-content h5 {
  font-size: 0.83em !important;
}
.blog-content h6 {
  font-size: 0.67em !important;
}

.MuiAppBar-root {
  box-shadow: 0px 0px 1px #222 !important;
}
